venv/
env/

# Python
*.pyc
__pycache__/
*.pyo
*.pyd
.Python

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/

# IDE specific files
.vscode/
.idea/
*.swp
*.swo

# Environment variables
.env