@import "tailwindcss";

@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat-Extrabold";
  src: url("./assets/fonts/Montserrat-ExtraBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Space Mono";
  src: url("./assets/fonts/SpaceMono-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* Define theme variables */
@theme {
  --font-montserrat: "Montserrat", sans-serif;
  --font-montserrat-extrabold: "Montserrat-Extrabold", sans-serif;
  --font-roboto: "Roboto", sans-serif;
  --font-spacemono: "Space Mono", monospace;
}

@custom-variant dark (&:where(.dark, .dark *));


h1 {
  font-size: 3rem;
  font-weight:bolder;
  letter-spacing: 2px;
}

h2 {
  font-size: 1.5rem;
  font-weight: bolder;
}

h3 {
  font-size: 1.25rem;
  font-weight: bolder;
}
